<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Taroa</title>
    </head>
    <body>
        First of all, enter a question that you hope this reading will 
        answer, e.g. 
        <q>
            I'm under a lot of stress at the moment; what can I do to manage 
            it?
        </q>
        <!--Insert text box here-->
        This is entirely optional and your question won't be stored; the 
        text box just serves as a chance to reflect. Having an idea of what 
        you want to learn from the reading will make it easier to interpret 
        your results.

        Next, which cards should be included in the deck?
        <!--Insert radio buttons: Major Arcana, Minor Arcana, Both-->
        <!--Should be set to both by default-->

        Should reversed cards be included?
        <!--Insert radio buttons: yes and no, set to yes by default-->

        Finally, how many cards should be drawn?
        <!--Insert number input here-->
    </body>
</html>