<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Taroa</title>
    </head>
    <body>
        <strong>Welcome to Taroa!</strong> This application lets you perform 
        tarot readings, discover the meaning of each card, and more!

        What would you like to do?

        <button type="button" onclick="location.href = 'tarot/index.html'" 
        id="index">Browse card directory</button>
        <button type="button" onclick="location.href = 'tarot/reading.html'" 
        id="index">Perform a reading</button>
    </body>
</html>